.btn {
    color: black;
    background-color: transparent;
    border: 1px solid;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.2s;
    outline: 1px solid transparent;

    &:hover {
        transform: translateY(-2px);
        outline-color: black;
    }

    &:active {
        transform: translateY(0);
    }
}
