body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    & div {
        margin-bottom: 1rem;
    }
}

.count-controls {
    list-style: none;
    padding: 0;

    & li {
        margin-bottom: 1rem;
    }
}

button {
    transition: all 0.2s;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0;
    background-color: transparent;
}

button.btn, a.btn {
    border: 1px solid;
    border-radius: 0;
    padding: 0.5rem 1rem;
}


pre {
    padding: 2rem;
    background-color: #d3d3d363;
}
